<mat-toolbar color="primary" class="main-header" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
 <span class="navbar-title">
   <a routerLink="/login"> <img src="logo1.png" alt="Logo" class="logo-img">
   </a>
</span>

  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/register" routerLinkActive="active">Sign Up</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" class="main-header" *ngIf="isAdminLoggedIn">
  <span class="navbar-title">
    <a routerLink="/login">Admin</a>
  </span>

  <div class="nav-links">
    <a mat-button routerLink="/admin/dashboard" routerLinkActive="active">Catalogo</a>
    <a mat-button routerLink="/admin/car" routerLinkActive="active">subir coche</a>
    <a mat-button routerLink="/admin/bookings" routerLinkActive="active">Reservas</a>
    <a mat-button routerLink="/admin/search" routerLinkActive="active">Buscar Coches</a>
  </div>

  <span class="spacer"></span>

  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-toolbar color="primary" class="main-header" *ngIf="isCustomerLoggedIn">
  <span class="navbar-title">
    <a routerLink="/login">Customer</a>
  </span>

  <div class="nav-links">
    <a mat-button routerLink="/customer/dashboard" routerLinkActive="active">Catalogo</a>
    <a mat-button routerLink="/customer/my_bookings" routerLinkActive="active">Mis Reservas</a>
   <a mat-button routerLink="/customer/car/search" routerLinkActive="active">Buscar Coches</a>
  </div>

  <span class="spacer"></span>

  <button mat-button (click)="logout()">LogOut</button>
</mat-toolbar>

<router-outlet></router-outlet>