
.spacer {
  flex: 1 1 auto;
}

.main-header {
  background-color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  position: sticky;
  
  top: 0;
  z-index: 1000;
}
.logo-img {
    height: 50px;  
    width: auto;   
    vertical-align: middle;
    margin-right: 15px; 
}

.navbar-title a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}


.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

a[mat-button],
button[mat-button] {
  margin-left: 8px;
}